<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header th:replace="admin/fragments/header :: header"></header>

  <!-- =============================================== -->

  <!-- Cột bên trái. chứa thanh bên -->
  <header th:replace="admin/fragments/sidebar :: sidebar"></header>

  <!-- =============================================== -->

  <!-- Bao bọc nội dung. Chứa nội dung trang -->
  <div class="content-wrapper">
    <!-- Tiêu đề nội dung (Tiêu đề trang) -->
    <section class="content-header">
      <h1>
        Trang sửa
        <small>mọi thứ bắt đầu từ đây</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Ví dụ</a></li>
        <li class="active"> Trang sửa</li>
      </ol>
    </section>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Ví dụ nhanh</h3>
        </div>

        <form role="form" method="post" th:action="@{/admin/edit-category}" th:object="${category}">
          <input type="hidden" class="form-control" id="categoryName1" th:field="*{id}">
          <div class="box-body">
            <div class="form-group">
              <label for="categoryName">Tên danh mục</label>
              <input type="text" class="form-control" id="categoryName" th:field="*{categoryName}">
            </div>
            <label for="categoryStatus">Trạng thái danh mục</label>
            <div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="categoryStatusActive" value="true" th:field="*{categoryStatus}"/>
                <label class="form-check-label" for="categoryStatusActive">Hoạt động</label>
              </div>

              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="categoryStatusHidden" value="false" th:field="*{categoryStatus}"/>
                <label class="form-check-label" for="categoryStatusHidden">Ẩn</label>
              </div>
            </div>
          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>

    <section class="content">
      <!-- Nội dung bổ sung có thể ở đây -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="admin/fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
